<div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">UN Member States</a>
    </div>
        <div class="navbar-center hidden sm:flex">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <a class="<%= (page == "/un/countries") ? 'active' : '' %>" href="/un/countries">All Countries</a>
                </li>
                <li>
                    <a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</div>
