<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>UN Countries</title>
</head>
<body>
    <!-- Component NAV BAR -->
    <%- include('partials/navbar', {page: ''}) %>

    <!-- Component GRID SYSTEM -->
    <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center ">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">404 - Page Not Found</h1>
                        
                    <p class="py-6">
                        Oops! The page you're looking for could not be found.
                    </p>
                    <a href="/" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>